@font-face {
    font-family: bigNoodle;
    src: url(big_noodle_titling.ttf);
    font-weight: bold;
}

@font-face {
    font-family: bigNoodleOblique;
    src: url(big_noodle_titling_oblique.ttf);
    font-weight: bold;
}

*{
  font-family: bigNoodle;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    display: none;
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-color:rgba(0,0,0,0);

}

#app{

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

}

.newUser{
  transition: height 0.3s linear;
  height:360px;
  overflow: hidden;
  background-color: #2f3543;
}


.mainFeed{
    transition: height 0.3s linear;
    height:480px;
    overflow: hidden;
    background-color: #2f3543;
}

.miniStats{
  height:65px;
  overflow: hidden;
  cursor: pointer;
  background-color: #2f3543;
}
.miniStats .container-fluid{
  height:65px;
  overflow: hidden;
  border-left:8px solid #bbfc32;
}

.miniStats p {
    margin: 0 0 0px !important;
}
/*navbar*/


.navbar-default {
    border-bottom:3px solid #ff9c00;
    border-left:rgb(33, 35, 40);
    border-right:rgb(33, 35, 40);
    border-top:rgb(33, 35, 40);
    background: rgba(33, 35, 40, 0.97);
    position: relative;
    min-height: 36px;
    margin-bottom: 10px;
    cursor:pointer;
}


.navbar-brand.minimize{
  line-height: 29px!important;
  padding-right: 5px!important;
}



.navbar-default .navbar-brand {
    color: white;
    float: right;
    height: 50px;
    padding: 0px 10px;
    font-size: 19px;
    line-height: 32px;
}

style.css:46
.navbar-brand {
    float: right;
    padding: 15px 15px;
    font-size: 25px;
    line-height: 5px;
}

/*headers & text */

h1.app-title {
  font-size: 60px;
  color:white;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 13px;
    margin-bottom: 10px;
}

p{
  font-size: 23px;
  color:white;
}


.miniStats .user-data{
  text-align: left;
}


/*Inputs / buttons*/
.newUser input, .newUser select{
  height: 55px;
  padding: 16px;
  text-align: center;
  font-size: 18px;
  width: 100%;
}
.input-box .username{
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: none;
}

.input-box .region{
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border: none;
  border-left: 1px solid #2f3543;
}


.input-box{
  padding:0px;
}


/*Custom button*/
.overwatch-button-primary {
  display: inline-block;
      text-align: center;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      vertical-align: middle;
      border-radius: 2px;
      padding: 7px 45px 6px;
      text-transform: uppercase;
      border: none;
      outline: none;
      border: 3px solid #ff9c00;
      background-color: #ff9c00;
      color: #333;
      line-height: 1;
      letter-spacing: .025em;
      font-family: FuturaNo2D,century gothic,arial,sans-serif;
      font-weight: 700;
      font-size: 1.6rem;
      transition: all .2s;
      text-shadow: none;
      margin-top:30px;

}

.overwatch-button-primary:hover{
    opacity:1;
    border:3px solid white;
}

.overwatch-button-secondary:hover{
    opacity:1;
    border:3px solid white;
}

.overwatch-button-secondary {
  display:inline-block;
  min-width:150px;
  line-height:65px;
  padding:0px 3px;
  border:3px solid transparent;
  background-color: #469ed7;
  box-shadow: 0px 0px 3px #469ed7;
  border-radius:5px;
  -webkit-appearance:none;
  opacity:0.8;

  text-transform:uppercase;
  font-size:26px;
  color:white;
  text-shadow:0px 0px 2px white;

  transition: opacity 0.2s ease-out, border 0.2s ease-out;
  &:hover {
    opacity:1;
    border:3px solid white;
  }

}


/*Mini stats*/
.player-portrait{
  height: 64px;
  float: left;
  border-radius: 3px;
}

.portrait-holder{
  padding-left:0px;
}

.stats-controls{
  height:65px;
  opacity:0;
  transition: 0.3s ease;
}

.stats-close{
  color: #337ab7;
  background: #2c3e50;
  padding: 2px;
  color: white;
  text-decoration: none;

}

.miniStats:hover .stats-controls{
  opacity:1;
}

.stats-close:hover{
  color:#ff9c00;
  text-decoration: none;
}

/*Main feed*/
.feed-tile-medium{
  height:120px;
}
.nowrap {
  white-space: nowrap;
}

/* The heart of the matter */
.scroll-tiles > .row {
  overflow-x: auto;
  white-space: nowrap;
  font-size: 0;
  transition: all 1s;
}
.scroll-tiles > .row > .col-xs-6 {
  display: inline-block;
  float: none;
  vertical-align: top;
}



/*Animations*/
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-in-enter-active {
  transition: all .3s ease;
  transition-delay: 1s;
}
.slide-fade-in-leave-active {
  transition: all .8s linear;
  transition-delay: 1s;
}

.slide-fade-in-leave-active {
  transition: all .8s linear;
  transition-delay: 1s;
}

.slide-fade-in-enter, .slide-fade-in-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  height:0px;
  opacity: 0;
  transition-delay: 1s;
}




/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-in-enter-active, .fade-leave-active {
  transition: all .3s linear;
}
.slide-in-enter, .slide-in-leave-to{
  height:0px;
  transition: all .3s linear;
}



/*Animations*/
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-out-enter-active {
  transition: all .3s ease;
}
.slide-fade-out-leave-active {
  transition: all .8s linear;
}

.slide-fade-out-leave-active {
  transition: all .8s linear;
}

.slide-fade-out-enter, .slide-fade-out-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  height:0px;
}
